/* 引用 Google Font -- Noto Sans TC 思源黑體 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    font-family: 'Noto Sans TC', sans-serif;
}

/* 以下為 panel 部分的 CSS 樣式設定 */

section#panel {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

section#panel header {
    font-size: 1.5em;
    font-weight: 800;
    text-align: center;
}

section#panel article {
    line-height: 1.2em;
    font-size: 1em;
}

section#panel form {
    align-self: center;
}

button#query_btn {
    align-self: center;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1em;
}

/* 以下為 result 表格的 CSS 樣式設定 */

section#result table {
    margin: auto;
}

th {
    background-color: blue;
    color: white;
}

.sort_field {
    font-weight: bold;
}

tr:nth-child(2n) {
    background-color: aquamarine;
}

tr:nth-child(2n+1) {
    background-color: white;
}

td {
    text-align: right;
}
